<!-- Navigation -->

  <header class="masthead text-center text-white">
   <div class="masthead-content select-lang">
      <div class="row">
        <div class="col-lg-6">&nbsp;&nbsp;</div>
        <div class="col-lg-6">
          <button type="button" class="btn btn-danger dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t 'language'%>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'English', url_for(locale: :en), class: "dropdown-item" %>
            <%= link_to 'Spanish', url_for(locale: :es), class: "dropdown-item" %>
            <%= link_to 'Portueguese', url_for(locale: :pt), class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="logo">
        <img src="/assets/color-logo-transparent@11x.png" max-width="106px" />    
      </div>
    </div>
    <div class="masthead-content page">
      <div class="row">
        <div class="col-lg-6 mb-5 empty-col">&nbsp;&nbsp;</div>
        <div class="col-lg-6">
          <div class="container">
            <h1 class="mb-0 p-1 mt-4 bold-col"><%= t('sided').html_safe %></h1>
            <p class="masthead-subheading mt-5 mb-5"><%= t("connecting").html_safe %></p>
            <a href="javascript: void(0);" class="play">
              <p class="mt-5 bold-col mb-5"> 
                <img src="/assets/component-6-1.svg" alt="" width="40px" class="mr-3"><%= t("see") %>
              </p>
            </a>
            <%= form_for @user, url: { action: "create", locale: params[:locale] } do |f| %>
              <p><%= f.text_field :email, placeholder: t("your"), class: "email" %></p>
              <p><button class="btn-primary join" type='submit'><%= t("join_movement") %></button></p>
            <% end %>
            <p class="mt-5"> <%= t("vol") %></p>
          </div>

        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container-fluid section-1">
      <h1 class="section-1-title"><%= t("what") %></h1>
      <p class="section-1-copy"><%= t("sharenest") %></p>
      <p class="section-1-copy-orange"><%= t("join_free") %></p>
    </div>
  </section>
  
  <section>
    <h1 class="section-general-title"><%= t("here_works") %></h1>
    <div class="container-fluid p-0 m-0 section-2">
      <div class="row align-items-center section-2-container">
        <div class="col-lg-6 p-0">
          <img src="/assets/landing/step1_en.png" class="img-fluid">
        </div>
        <div class="col-lg-6 right-column">
          <img src="/assets/landing/hexagonal-number.png" alt="">
          <h1 class="section-2-title"><%= t("profile") %></h1>
          <p class="section-2-copy">
            <%= t("let_world").html_safe %>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid p-0 m-0 section-2">
      <div class="row align-items-center section-3-container">
      <div class="col-lg-6 right-column">
        <img src="/assets/landing/hexagonal-number-2.svg" alt="">
        <h1 class="section-2-title"><%= t("wait").html_safe %></h1>
          <p class="section-2-copy">
            <%= t("profile_complete") %>
          </p>
      </div>
      <div class="col-lg-6 p-0">
        <img src="/assets/landing/step2_en.png" class="img-fluid">
      </div>
        </div>
    </div>
  </section>
  <section>

    <div class="container-fluid p-0 m-0 section-2">
      <div class="row align-items-center section-2-container">
        <div class="col-lg-6 p-0">
          <img src="/assets/landing/step3_en.png" class="img-fluid">
        </div>
        <div class="col-lg-6 right-column">
          <img src="/assets/landing/hexagonal-number-3.png" alt="">
          <h1 class="section-2-title"><%= t("accept").html_safe %></h1>
          <p class="section-2-copy">
            <%= t("identify") %>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid section-3">
      <div class="row align-items-center">
        <div class="col-lg-6 content-left">
          <h1>Volunteering…</h1>
          
            <div class="row">
              <div class="col-lg-6 features"><img src="/assets/landing/icons-svg/Money.svg"  alt="">
                <p><%= t("improve") %></p>
              </div>
              <div class="col-lg-6 features"><img src="/assets/landing/icons-svg/Apple.svg"  alt="">
                <p><%= t("awaken") %></p>
              </div>
              <div class="col-lg-6 features"><img src="/assets/landing/icons-svg/Chart.svg"  alt="">
                <p><%= t("experience") %></p>
              </div>
              <div class="col-lg-6 features"><img src="/assets/landing/icons-svg/Dollar-3.svg"  alt="">
                <p><%= t("increase") %></p>
              </div>
              <div class="col-lg-6 features"><img src="/assets/landing/icons-svg/Smile.svg"  alt="">
                <p><%= t("positive") %></p>
              </div>
              <div class="col-lg-6 features"><img src="/assets/bitmap-copy-8@2x.png" style="width: 30px !important;" alt="">
                <p><%= t("reduce") %></p>
              </div>
              <div class="col-lg-6 features"><img src="/assets/landing/icons-svg/link2.svg"  alt="">
                <p><%= t("community") %></p>
              </div>
              <div class="col-lg-6 features"><img src="/assets/landing/icons-svg/User-2.svg"  alt="">
                <p><%= t("create_conn") %></p>
              </div>
            </div>
        </div>
        <div class="col-lg-6 al">
          <img src="/assets/15-macbook-pro@3x.png" class="macbookpro" alt="">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid p-0 m-0 section-4">
      <div class="row align-items-center section-4-container">
        <div class="col-lg-5 p-0">
          <img src="/assets/18569-3-x@2x.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <div class="volunteer-text">
            <h1 class="section-title"><%= t("vol_simple") %></h1>
            <h2 class="section-subtitle section-volunteer"><%= t("our_platform") %></h2>
            <!--<p class="section-copy">By joining us we will send you a unique code so you can share with other potential volunteers, you will get rewards for helping us reach more people interested in helping.</p>-->
          </div>
          <div class="section-volunteer">
            <%= form_for @user, :url => { :action => "create" }, :class => "form-join" do |f| %>
              <p><%= f.text_field :email, :placeholder => t("your"), class: "email" %></p>
              <p><button class="btn-primary join" type="submit"><%= t("join_pre") %></button></p>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section>
    <div class="container section-5">
      <h1 class="section-title"><%= t("invite_friend") %></h1>
      <p><%= t("sending_email") %></p>
    </div>
    <div class="container content">
      <div class="row prizes-content">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/landing/icons-svg/hexagone-friends-5.svg" alt="">
          </div>
          <div>
            <p class="subtitle mt-4">
              <%= t("five_text") %>
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/landing/icons-svg/hexagone-friends-25.svg" alt="">
          </div>
          <div>
            <p class="subtitle mt-4">
              <%= t("tfive_text") %>
            </p>
          </div>
        </div>
        <div class="col-lg-3">

        </div>
        
      </div>
      <div class="footer_content">
        <h1><%= t("remember") %></h1>
        <h2><%= t("gift").html_safe %></h2>
        <!--<h3>
            Get <span>FREE</span> volunteer <span>TRIP</span> everything paid for with <br/>
            <span>CELEBRITY</span> to do Some <span>SOCIAL GOOD</span> abroad
        </h3>-->
      </div>
    </div>
  </section>
  

  <section>
    <div class="container section-5"> 
      <h1 class="section-title"><%= t("partners") %></h1>
      <div class="container">
        <div class="row align-items-center"> 
          <div class="col-lg-12">
            <img src="/assets/landing/partners.png" alt="">
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class=" container-fluid section-join-us">
      <h1 class="section-title mb-5 text-white"><%= t("join_us") %></h1> 
      <div class="row align-items-center join-us">
        <div class="col-lg-12">
          <%= form_for @user, url: { action: "create" } do |f| %>
            <p><%= f.text_field :email, placeholder: t("your"), class: "email" %></p>
            <p><button class="btn-primary join"><%= t("join_pre") %></button></p>
          <% end %>
          <p class="text-white mt-5"><%= t("vol") %></p>
        </div>
    </div>
  </div>
  </section>  

  

  <!-- Footer -->
  <footer class="py-5 bg-white">
    <div class="container">
      <p class="m-0 text-center">      
        <%= link_to t("terms"), terms_service_path(locale: params[:locale]), target: '_blank', style: "text-decoration: none; color: #222;" %>
        <%= link_to t("policy.link"), privacy_policy_path(locale: params[:locale]), target: '_blank', style: "text-decoration: none; color: #222;" %>  <br>
        <%= t("rights") %>
      </p>
    </div>
    
    <!-- /.container -->
  </footer>
<%= render 'video_modal' %>  