<style>
	h1 {
    font-size: 28px;
    color: #fe4308;
    background-color: transparent;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    vertical-align: baseline;
    padding: 25px 0px 25px 0px;
    font-family: Montserrat,sans-serif;
	}
	p, ol, ul {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #222;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    vertical-align: baseline;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 26px;
  }

</style>
<section class="how-it-works">
  <div class="container-fluid">
    <div class="container steps">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= t("pterms.terms_h1") %></h1>
          <p>
            <%= t("pterms.terms_p1") %>
          </p>
          <h1><%= t("pterms.terms_h2") %></h1>
          <p>
            <%= t("pterms.terms_p2") %>
          </p>
          <p>
            <%= t("pterms.terms_p3") %>
          </p>
          <h1><%= t("pterms.terms_h3") %></h1>
          <p>
            <%= t("pterms.terms_p4") %>
          </p>
          <p>
            <%= t("pterms.terms_p5") %>
          </p>
          <p>
            <%= t("pterms.terms_p6") %>
          </p>
          <p>
            <%= t("pterms.terms_p7") %>
          </p>
          <ol>
            <li><%= t("pterms.olli_1") %></li>
            <li><%= t("pterms.olli_2") %></li>
            <li><%= t("pterms.olli_3") %></li>
            <li><%= t("pterms.olli_4") %></li>
          </ol>
          <p>
            <%= t("pterms.terms_p8") %>
          </p>
          <ul>
            <li><%= t("pterms.ulli_1") %></li>
            <li><%= t("pterms.ulli_2") %></li>
            <li><%= t("pterms.ulli_3") %></li>
          </ul>
          <h1><%= t("pterms.terms_h4") %></h1>
          <p><%= t("pterms.terms_p9") %></p>
          <p><%= t("pterms.terms_p10") %></p>
          <p><%= t("pterms.terms_p11") %></p>
          <p><%= t("pterms.terms_p12") %></p>
          <h1><%= t("pterms.terms_h5") %></h1>
          <p><%= t("pterms.terms_p13") %></p>
          <p><%= t("pterms.terms_p14") %></p>
          <h1><%= t("pterms.terms_h6") %></h1>
          <p><%= t("pterms.terms_p15") %></p>
          <p><%= t("pterms.terms_p16") %></p>
          <p><%= t("pterms.terms_p17") %></p>
          <h1><%= t("pterms.terms_h7") %></h1>
          <p><%= t("pterms.terms_p18") %></p>
          <h1><%= t("pterms.terms_h8") %></h1>
          <p><%= t("pterms.terms_p19") %></p>
          <h1><%= t("pterms.terms_h9") %></h1>
          <p><%= t("pterms.terms_p20") %></p>
          <p><%= t("pterms.terms_p21") %></p>
          <h1><%= t("pterms.terms_h10") %></h1>
          <p><%= t("pterms.terms_p22") %></p>
          <p><%= t("pterms.terms_p23") %></p>
          <h1><%= t("pterms.terms_h11") %></h1>
          <p><%= t("pterms.terms_p24") %></p>
          <h1><%= t("pterms.terms_h12") %></h1>
          <p><%= t("pterms.terms_p25_1") %> <%= link_to "info@sharenest.com", "mailto:?toinfo@sharenest.com" %> <%= t("pterms.terms_p25_1") %></p>
          <h1><%= t("pterms.terms_h13") %></h1>
          <p><%= t("pterms.terms_p26") %></p>
          <h1><%= t("pterms.terms_h14") %></h1>
          <p><%= t("pterms.terms_p27") %></p>
          <h1><%= t("pterms.terms_h15") %></h1>
          <p><%= t("pterms.terms_p28") %></p>
          <h1><%= t("pterms.terms_h16") %></h1>
          <p><%= t("pterms.terms_p29") %></p>
          <p><%= t("pterms.terms_p30") %></p>
          <h1><%= t("pterms.terms_h17") %></h1>
          <p><%= t("pterms.terms_p31") %></p>
          <p><%= t("pterms.terms_p32") %></p>
          <p><%= t("pterms.terms_p33") %></p>
          <p><%= t("pterms.terms_p34") %></p>
          <p><%= t("pterms.terms_p35_1") %><%= link_to "info@sharenest.com", "mailto:?toinfo@sharenest.com" %><%= t("pterms.terms_p35_2") %></p>
        </div>
      </div>
    </div>
  </div>
</section>