<style>
	h1 {
    font-size: 28px;
    color: #fe4308;
    background-color: transparent;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    vertical-align: baseline;
    padding: 25px 0px 25px 0px;
    font-family: Montserrat,sans-serif;
	}
	p, ol, ul {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    color: #222;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    vertical-align: baseline;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 26px;
  }

</style>
<section class="how-it-works">
  <div class="container-fluid">
    <div class="container steps">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= t("policy.policy_h1") %></h1>
          <p><%= t("policy.policy_p1") %></p>
          <p><%= t("policy.policy_p2") %></p>
          <p><%= t("policy.policy_p3") %></p>
          <h1><%= t("policy.policy_h2") %></h1>
          <p><%= t("policy.policy_p4") %></p>
          <h1><%= t("policy.policy_h3") %></h1>
          <p><%= t("policy.policy_p5") %></p>
          <h1><%= t("policy.policy_h4") %></h1>
          <p><%= t("policy.policy_p6") %></p>
          <h1><%= t("policy.policy_h5") %></h1>
          <p><%= t("policy.policy_p7") %></p>    
          <h1><%= t("policy.policy_h6") %></h1>
          <p><%= t("policy.policy_p8") %></p>    
          <h1><%= t("policy.policy_h7") %></h1>
          <p><%= t("policy.policy_p9") %></p> 
          <h1><%= t("policy.policy_h8") %></h1>
          <p><%= t("policy.policy_p10") %></p>
          <h1><%= t("policy.policy_h9") %></h1>
          <p><%= t("policy.policy_p11") %></p>
          <h1><%= t("policy.policy_h10") %></h1>
          <p><%= t("policy.policy_p12") %></p>
          <h1><%= t("policy.policy_h11") %></h1>
          <p><%= t("policy.policy_p13") %></p> 
          <h1><%= t("policy.policy_h12") %></h1>
          <p><%= t("policy.policy_p14") %></p>    
          <h1><%= t("policy.policy_h13") %></h1>
          <p><%= t("policy.policy_p15") %></p> 
          <h1><%= t("policy.policy_h14") %></h1>
          <p><%= t("policy.policy_p16") %></p>
          <ol>
            <li><%= t("policy.polli_1") %></li>
            <li><%= t("policy.polli_2") %></li>
            <li><%= t("policy.polli_3") %></li>
            <li><%= t("policy.polli_4") %></li>
            <li><%= t("policy.polli_5") %></li>
            <li><%= t("policy.polli_6") %></li>
            <li><%= t("policy.polli_7") %></li>
            <li><%= t("policy.polli_8") %></li>
            <li><%= t("policy.polli_9") %></li>
            <li><%= t("policy.polli_10") %></li>
            <li><%= t("policy.polli_11") %></li>
            <li><%= t("policy.polli_12") %></li>
            <li><%= t("policy.polli_13") %></li>
            <li><%= t("policy.polli_14") %></li>
            <li><%= t("policy.polli_15") %></li>
            <li><%= t("policy.polli_16") %></li>
            <li><%= t("policy.polli_17") %></li>
            <li><%= t("policy.polli_18") %></li>
            <li><%= t("policy.polli_19") %></li>
            <li><%= t("policy.polli_20") %></li>
            <li><%= t("policy.polli_21") %></li>
          </ol>
          <h1><%= t("policy.policy_h15") %></h1>
          <p><%= t("policy.policy_p17") %></p>
          <h1><%= t("policy.policy_h16") %></h1>
          <p><%= t("policy.policy_p18") %></p>
          <h1><%= t("policy.policy_h17") %></h1>
          <p><%= t("policy.policy_p19") %></p>
          <h1><%= t("policy.policy_h18") %></h1>
          <p><%= t("policy.policy_p20") %></p>
          <h1><%= t("policy.policy_h19") %></h1>
          <p><%= t("policy.policy_p21") %></p>
          <h1><%= t("policy.policy_h20") %></h1>
          <p><%= t("policy.policy_p22") %></p>
          <h1><%= t("policy.policy_h21") %></h1>
          <p><%= t("policy.policy_p23") %></p>
          <h1><%= t("policy.policy_h22") %></h1>
          <p><%= t("policy.policy_p24") %></p>
          <h1><%= t("policy.policy_h23") %></h1>
          <p><%= t("policy.policy_p25") %></p>
          <h1><%= t("policy.policy_h24") %></h1>
          <p><%= t("policy.policy_p26") %></p>
          <h1><%= t("policy.policy_h25") %></h1>
          <p><%= t("policy.policy_p27") %></p>
          <h1><%= t("policy.policy_h26") %></h1>
          <p><%= t("policy.policy_p28") %></p>
          <h1><%= t("policy.policy_h27") %></h1>
          <p><%= t("policy.policy_p29") %></p>
          <p><%= t("policy.policy_p30") %></p>
          <h1><%= t("policy.policy_h28") %></h1>
          <h1><%= t("policy.policy_h29") %></h1> 
          <p><%= t("policy.policy_p31") %></p>
          <h1><%= t("policy.policy_h30") %></h1>
          <p><%= t("policy.policy_p32") %></p>
          <h1><%= t("policy.policy_h31") %></h1>
          <p><%= t("policy.policy_p33") %></p>  
          <p><%= t("policy.policy_p34") %></p>          
          <p><%= t("policy.policy_p35") %></p>          
          <p><%= t("policy.policy_p36") %></p>          
          <p><%= t("policy.policy_p37") %></p>          
          <p><%= t("policy.policy_p38") %></p>          
          <p><%= t("policy.policy_p39") %></p>          
          <p><%= t("policy.policy_p40") %></p>          
          <h1><%= t("policy.policy_h32") %></h1>
          <p><%= t("policy.policy_p41") %></p>
          <h1><%= t("policy.policy_h33") %></h1>
          <p><%= t("policy.policy_p42") %></p>
          <h1><%= t("policy.policy_h34") %></h1>
          <p><%= t("policy.policy_p43") %></p>
          <p><%= t("policy.policy_p44") %></p>
          <h1><%= t("policy.policy_h35") %></h1>
          <p><%= t("policy.policy_p45") %></p>
          <h1><%= t("policy.policy_h36") %></h1>
          <h1><%= t("policy.policy_h37") %></h1>
          <p><%= t("policy.policy_p46") %></p>
          <ul>
            <li><%= t("policy.pulol1") %></li>
            <li><%= t("policy.pulol2") %></li>
          </ul>
          <p><%= t("policy.policy_p47") %></p>
          <h1><%= t("policy.policy_h38") %></h1>
          <p><%= t("policy.policy_p48") %></p>
          <ul>
            <li><%= t("policy.pulol3") %></li>
            <li><%= t("policy.pulol4") %></li>
            <li><%= t("policy.pulol5") %></li>
          </ul>       
          <p><%= t("policy.policy_p49") %></p>   
          <h1><%= t("policy.policy_h39") %></h1>
          <p><%= t("policy.policy_p50") %></p> 
          <p><%= t("policy.policy_p51") %></p> 
          <h1><%= t("policy.policy_h40") %></h1>
          <p><%= t("policy.policy_p52") %></p> 
          <p><%= t("policy.policy_p53") %></p> 
          <p><%= t("policy.policy_p54") %></p> 
          <p><%= t("policy.policy_p55") %></p> 
          <p><%= t("policy.policy_p56") %></p> 
        </div>
      </div>
    </div>
  </div>
</section>  