  <!-- Navigation -->
  

  <header class="masthead text-center text-white">
    <div class="page">
      <div class="logo">
        <img src="/assets/color-logo-transparent@11x.png" max-width="106px" />    
      </div>
    </div>
    <div class="masthead-content page">
      <div class="container">
        <h1 class="masthead-heading mb-0"><%= t("thank") %></h1>
        <p class="masthead-subheading mt-5"><%= t("invite") %></p>
        <p class="mt-3 text-center terms">
        <%= link_to t("see_terms"), terms_service_path, target: '_blank', style: "color: white;" %></p>
        <input class="input" id="share-link" type="hidden" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly>
        <a href="javascript: void(0);" class="btn bg-black text-white btn-xl mt-4 button-black" onclick="copy()">
          <%= t("share") %>
        </a>
        <a href="javascript: void(0);" class="play">
        <p class="mt-5 bold-col">  <img src="/assets/component-6-1.svg" alt="" width="40px" class="mr-3"><%= t("learn") %></p>
        </a>
      </div>
    </div>
  </header>

  <section class="page">
    <div class="container-fluid">
      <h1 class="section-1-title"><%= t("u_get") %></h1>
      <h2 class="section-1-subtitle"><%= t("steps") %></h2>
    </div>
  </section>
  <section>
    <div class="container content section-1">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-1-1.svg" alt="">
          </div>
          <div>
            <p class="title"><%= t("sign_up") %></p>
            <p class="subtitle"><%= t("add_email") %></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-2-1.svg" alt="">
          </div>
          <div>
            <p class="title"><%= t("unique").html_safe %></p>
            <p class="subtitle"><%= t("send_code") %></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-3-1.svg" alt="">
          </div>
          <div>
            <p class="title"><%= t("share_code").html_safe %></p>
            <p class="subtitle"><%= t("use_code") %></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-4-1.svg" alt="">
          </div>
          <div>
            <p class="title"><%= t("reward") %></p>
            <p class="subtitle"><%= t("share_friends") %></p>
          </div>
        </div>
        <!-- <div class="col-lg-12 text-center">
          <input class="input" id="share-link" type="text" style="display: none" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly>
          <button class="btn text-white btn-xl mt-4 button-red" onclick="copy()">GET YOUR CODE</button>
        </div> -->
      </div>
    </div>
  </section>
  
  <section>
    <div class="container-fluid p-0 m-0">
      <div class="row align-items-center section-2-container">
        <div class="col-lg-5 p-0">
          <img src="/assets/18569-3-x@2x.png" class="img-fluid" width="600px">
        </div>
        <div class="col-lg-6 align-items-center p-5">
          <h1 class="section-2-title"><%= t("help") %></h1>
          <h2 class="section-2-subtitle"><%= t("ngo") %></h2>
          <p class="section-2-copy"><%= t("share_with_others") %></p>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works">
    <div class="container">
      <h1 class="text-center mb-5"><%= t("work") %></h1>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/component-7-1.svg" alt="">
          </div>
          <div>
            <p class="title"><%= t("friend") %></p>
            <p class="subtitle">
              <%= t("five_text") %>
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/component-9-1.svg" alt="">
          </div>
          <div>
            <p class="title"><%= t("friends_25") %></p>
            <p class="subtitle">
              <%= t("tfive_text") %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="volunteer">
      <h1 class="text-center mb-0 volunteermatters"><strong><%= t("volun") %></strong></h1>
        <h2 class="text-center"><%= t("share_help") %></h2>
        <div class="container">
          <div class="share" style="background-color: #f2f2f2;">
            <p class="share-code" style="padding: 0px;">
              <a href="javascript: void(0);" class="btn btn-xl text-white ml-2" style="background-color: #fe4308; border-radius: 15px; padding: 10px 30px;" onclick="copy()">
                <%= t("code") %>
              </a>
            </p>
          </div>
          <%= render "/users/invite_friends" %>
        </div>
        <div class="container">
          <%
            words = ''
            referrals_count = @user.referrals.count
            if referrals_count == 1
              words = t("friend_has")
            elsif
              words = t("friends_have")
            end
          %>
          <div class="share">
            <% if referrals_count == 0 %>
              <p class="share-code"><strong class="ml-2"><%= t("not_joined") %></strong></p>
            <% else %>
              <p class="share-code"><strong class="ml-2"><%= referrals_count %> <%= words %> <%= t("joined") %></strong></p>
            <% end %> 
          </div>
        </div        
    </div>

  </section>

  <!-- Footer -->
  <footer class="py-5 bg-white">
    <div class="container">
      <p class="m-0 text-center">
      <%= link_to t("terms"), terms_service_path, target: '_blank', style: "text-decoration: none; color: #222;" %>
      <%= link_to t("policy.link"), privacy_policy_path, target: '_blank', style: "text-decoration: none; color: #222;" %>
       <br>
        <%= t("rights") %></p>
    </div>
    
    <!-- /.container -->
  </footer>
<%= render 'video_modal' %>
<script>
function copy() {
  /* Get the text field */
  var copyText = document.getElementById("share-link");

  const el = document.createElement('textarea');
  el.value = copyText.value;
  el.setAttribute('readonly', '');
  el.style.position = 'absolute';
  el.style.left = '-9999px';
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);  
  alert('<%= t("copied_clip") %>' + copyText.value);
}  
</script>
