  <!-- Navigation -->
  

  <header class="masthead text-center text-white">
    <div class="page">
      <div class="logo">
        <img src="/assets/color-logo-transparent@2x.png" max-width="106px" />    
      </div>
    </div>
    <div class="masthead-content page">
      <div class="container">
        <h1 class="masthead-heading mb-0">Thank you for <strong>Raising your Hand!</strong> </h1>
        <p class="masthead-subheading mt-5">Invite your friends to ShareNest - For each friend you get exclusive experiences with unique people</p>
        <p class="mt-3 text-center terms">
        <%= link_to "*See terms", privacy_policy_path, target: '_blank' %></p>
        <a href="#how-it-works" class="btn bg-black text-white btn-xl mt-4 button-black">Learn More</a>
        <a href="javascript: void(0);" class="play">
        <p class="mt-5 bold-col">  <img src="/assets/component-6-1.svg" alt="" width="40px" class="mr-3"> See how you can help</p>
        </a>
      </div>
    </div>
  </header>

  <section class="page">
    <div class="container-fluid">
      <h1 class="section-1-title">Share and Grow</h1>
      <h2 class="section-1-subtitle">in 4 Easy Steps</h2>
    </div>
  </section>
  <section>
    <div class="container content section-1">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-1-1.svg" alt="">
          </div>
          <div>
            <p class="title">SIGN UP TO SHARENEST</p>
            <p class="subtitle">Add your email to the form (make sure you’re register as a volunteer on our platform)</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-2-1.svg" alt="">
          </div>
          <div>
            <p class="title">GET YOUR <br> UNIQUE CODE</p>
            <p class="subtitle">We will send you a unique code to your email to share with friends</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-3-1.svg" alt="">
          </div>
          <div>
            <p class="title">SHARE YOUR <br>CODE</p>
            <p class="subtitle">Use your code and for each friend you get in ShareNest we will give you points</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="p-5">
            <img class="img-fluid" src="/assets/component-4-1.svg" alt="">
          </div>
          <div>
            <p class="title">GET SPECIAL REWARDS</p>
            <p class="subtitle">By sharing with 5, 10, 25 or 50 friends you will get special rewards in each stage.</p>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <input class="input" id="share-link" type="text" style="display: none" value="<%= root_url %>?ref=<%= @user.referral_code %>" readonly>
          <button class="btn text-white btn-xl mt-4 button-red" onclick="copy()">GET YOUR CODE</button>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container-fluid p-0 m-0">
      <div class="row align-items-center section-2-container">
        <div class="col-lg-5 p-0">
          <img src="/assets/18569-3-x@2x.png" class="img-fluid" width="600px">
        </div>
        <div class="col-lg-6 align-items-center p-5">
          <h1 class="section-2-title">Help Others by Sharing</h1>
          <h2 class="section-2-subtitle">Our NGO’s need people like you</h2>
          <p class="section-2-copy">By sharing with others you’re helping many organizations get talented people like you - We need your help to get more volunteers and by helping us we want to give back to you</p>
        </div>
      </div>
    </div>
  </section>

  <section id="how-it-works">
    <div class="container">
      <h1 class="text-center mb-5">Here’s How it Works</h1>
    </div>
    <div class="container content">
      <div class="row">
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/component-7-1.svg" alt="">
          </div>
          <div>
            <p class="title">5 FRIENDS</p>
            <p class="subtitle">
              We will donate 5
              dollars on your behalf
              to top non-profits
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/component-8-1.svg" alt="">
          </div>
          <div>
            <p class="title">10 FRIENDS</p>
            <p class="subtitle">
              Choose 1 gift for you and
              we will donate 2 of the
              same item to children in
              need.
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/component-9-1.svg" alt="">
          </div>
          <div>
            <p class="title">25 FRIENDS</p>
            <p class="subtitle">
              Access our platform 1 week
              prior to everyone and choose
              to volunteer for top
              international foundations
                        <br />+ <br />
              Participate on an IG live
              discussion panel with 10
              celebrities to discuss how to
              create a better world.
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="text-center component-img">
            <img class="img-fluid" src="/assets/component-10-1.svg" alt="">
          </div>
          <div>
            <p class="title">50 FRIENDS</p>
            <p class="subtitle">
              Choose a
              celebrity for
              you to do a
              social project
              with
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <section>
    <div class="volunteer">
      <h1 class="text-center mb-0 volunteermatters"><strong>#volunteermatters</strong></h1>
        <h2 class="text-center">Share, Help and Win</h2>
        <div class="container">
          <div class="share"><p class="share-code">Your code:  <strong class="ml-2">?ref=<%= @user.referral_code %></strong></p></div>
          <%= render "/users/invite_friends" %>
        </div>
        <div class="container">
          <%
            words = ''
            referrals_count = @user.referrals.count
            if referrals_count == 1
              words = 'friend has'
            elsif
              words = 'friends have'
            end
          %>
          <div class="share">
            <% if referrals_count == 0 %>
              <p class="share-code"><strong class="ml-2">No friends have joined...Yet!</strong></p>
            <% else %>
              <p class="share-code"><strong class="ml-2"><%= referrals_count %> <%= words %> joined</strong></p>
            <% end %> 
          </div>
        </div        
    </div>

  </section>

  <!-- Footer -->
  <footer class="py-5 bg-white">
    <div class="container">
      <p class="m-0 text-center">Terms of ServiceMobile  |  App Privacy Policy <br>
        Copyrights © 2020 ShareNest LLC. All rights reserved</p>
    </div>
    
    <!-- /.container -->
  </footer>
<%= render 'video_modal' %>
<script>
function copy() {
  /* Get the text field */
  var copyText = document.getElementById("share-link");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied to clipboard: " + copyText.value);
}
</script>
